.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#conteudoPrincipal{
  background-color: #f6f9fc;
  width: 100%;
  min-height: 580px; 
}

#pastas{
  padding: 0px 50px;
  position: relative;
  top: -100px;
}

#cabecalho{
  background-image: linear-gradient(#eee, #222);
  width: 100%;
  height: 250px; 
  padding: 50px 120px;
  overflow-y: auto;
  overflow-x: hidden;
}

#rodapePrincipal{
  background-color: #212121;
  color: #fff;
  text-align: left;
  padding: 30px 20px;
  width: 100%;
  min-height: 200px; 
  box-shadow: 0 0 2rem 0 rgba(44, 53, 66, 0.1);
}

#btnPrincipal{
  float: right;
}

